.ratingsbox{
  padding: 10px;
  border-radius: 15px;
  position: relative;
  z-index: 500;
  top: -22px;
}
.gifttitle {
  margin: 5px;
  color: #aaa;
  -webkit-transition-duration: .2s;
  font-family: "Abel";
  margin: 0;
  font-size: 16px;
  font-weight: 100;
  line-height: 35px;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1.1em;
  margin: 5px 5px;
  display:inline-block;
}
.giftbox:hover .gifttitle{
  color: #444;
}
.ratingsheading {
  font-family: "roboto condensed";
  margin: 0;
  font-size: 20px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.buynow {
  padding: 0px;
  font-family:"Helvetica Neue"; 
  text-align: center;
  font-weight: normal;
}
.price{
  color: #cccccc;
  font-family: "Oswald";
  font-size: 55px;
  display: inline-block;
  float: right;
  margin: 5px;
  z-index: 500;
  -webkit-transition-duration: .3s;
}
.giftbox:hover .price{
color: #666666;
}
.tbox:hover .ratingnumdown, .tbox .active .ratingnumdown{
  color: rgba(255, 0, 0, 0.8);
}
.tbox:hover .ratingnumup, .tbox .active .ratingnumup{
  color: rgba(30, 255, 56, 0.8);
}
.ratingnumup{
  overflow: hidden;
  font-family: "Oswald";
  color: #969696;
  font-size: 12px;
  padding: 0px 18px 0px 0px;
  display: inline-block;
  z-index: 100;
  color: #ffffff;
  -webkit-transition-duration: .3s;
}
.ratingnumdown{
  overflow: hidden;
  font-family: "Oswald";
  color: #969696;
  font-size: 12px;
  padding: 0px 18px 0px 0px;
  display: inline-block;
  z-index: 100;
  color: #ffffff;
  -webkit-transition-duration: .3s;
}
.icon.icon-2 {
  font-size: 20px;
  line-height: 0em;
  margin: 18px 1px;
  display: inline-block;
  z-index: 100;
  color: #ffffff;
  opacity: .9;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-transition-duration:.2s;
}
.tbox:hover .icon-thumbs-up, .tbox .active .icon-thumbs-up{
  color: rgba(30, 255, 56, 0.8);
}
.tbox:hover .icon-thumbs-down, .tbox .active .icon-thumbs-down{
  color: rgba(255, 0, 0, 0.8);
}
.icon-facebook:hover{
  color: #3366ff;
}
.gbwrap{
  float:left;
  margin:0;
  width:250px;
  margin:12px;
}
.giftbox {
  overflow:hidden;
  background: #ffffff;
  margin: 0px;
  border-top: 4px solid #f8f8f8;
  float: left;
  margin: 20px 5px 10px;
}
.giftimage {
  border-radius: 15px;
  text-align: center;
  padding: 5px;
  width: 90%;
  -webkit-filter: grayscale(60%);
  -moz-filter: grayscale(60%);
  -o-filter: grayscale(60%);
  -ms-filter: grayscale(60%);
}
.giftbox:hover .giftimage{
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
}

.flat-ok-button{
  visibility:hidden;
  -webkit-transition-duration: 0;
}
.giftbox:hover .flat-ok-button{
  visibility:visible;
  -webkit-transition-duration: .3s;
}
.description {
 margin: 10px;
 font-family: "Helvetic Neue", Helvetica, Arial;
 color: #858585;
}
.buynow{
  font-family: "Abel";
}
 .flat-ok-button {
  background: rgba(30, 255, 56, 0.1);
  color: #666666;
  font-family:"Abel"; 
  text-align: center;
  font-weight: normal;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  border-radius: 7px;
  font-size: 25px;
  border: none;
  width: 90%;
  height: 47px;
  margin: 8px 14px;
  z-index: -200;
}
.flat-ok-button:hover{
  background: rgba(255, 136, 12, 0.458824);
}
.thumbbox{
  position:absolute;
  top: 0;
  left:10px;
  height: 0px;
  background: rgba(0, 0, 0, 0.5);
  width:70%;
  visibility: hidden;
  z-index: 50;
  opacity: 0;
  -webkit-transition-duration: .3s;
}
.giftbox:hover .thumbbox{
  display: inline-block;
  visibility: visible;
  -webkit-transition-duration: .3s;
  opacity: 1;
  height: 50px;
}
.imagebox{
  position:relative;
}
.tbox{
  display:inline-block;
  margin: 0 0px 0 2px;
}
.tbox:hover{
  color:red;
}
/*.products {
    -moz-column-count: 3;
    -moz-column-gap: 0px;
    -webkit-column-count: 3;
    -webkit-column-gap: 0px;
    column-count: 3;
    column-gap: 0px;
}
 
.products .giftboxwrapper{
    display: inline-block;
    margin-bottom: 0px;
    width: 100%;
}*/

/*.gbwrap{
  width:24%;
}

.gbwrap-inner{
  width:100%;
}

@media (max-width: 700px) {
  .gbwrap{
    width:33.33%;
  }
}*/
