.ratingsbox{
  padding: 10px;
  border-radius: 15px;
}
.gifttitle {
  margin: 5px;
  color: #b5b5b5;
  -webkit-transition-duration: .2s;
  font-family: "Abel";
  margin: 0;
  font-size: 26px;
  font-weight: 100;
  line-height: 35px;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1.1em;
  margin: 5px 5px;
  display:inline-block;
}
.gifttitle:hover {
  color: #666666;
}
.ratingsheading {
  font-family: "roboto condensed";
  margin: 0;
  font-size: 20px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.buynow {
  padding: 0px;
  font-family:"Helvetica Neue"; 
  text-align: center;
  font-weight: normal;
}
.price{
  color: #666666;
  font-family: "Oswald";
  font-size: 65px;
  display: inline-block;
  float: right;
  margin: 5px;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
  z-index: 5000;
}
.ratingnumber {
  overflow: hidden;
  font-family: "Oswald";
  color: #969696;
  font-size: 15px;
  padding: 0px 18px 0px 0px;
  display: inline-block;
  z-index: 100;
  color: #ffffff;
}
.icon.icon-2 {
  font-size: 40px;
  line-height: 0em;
  margin: 13px 15px;
  display: inline-block;
  z-index: 100;
  color: #ffffff;
  opacity: .9;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-transition-duration:.2s;
}
.icon-thumbs-up:hover{
  color: rgba(30, 255, 56, 0.5);
}
.icon-thumbs-down:hover{
  color: rgba(255, 0, 0, 0.5);
}
.gbwrap{
  float:left;
  margin:0;
  width:400px;
}
.giftbox {
  overflow:hidden;
  background: #ffffff;
  border-radius: 8px;
  margin: 0px;
  border: 4px solid #f8f8f8;
  float: left;
  margin: 10px 5px;
}
.giftimage {
  border-radius: 15px;
  text-align: center;
  padding: 5px;
  width: 372px;
  -webkit-transition-duration: .6s;
  -moz-transition-duration: .6s;
  -o-transition-duration: .6s;
  -ms-transition-duration: .6s; 
  -webkit-filter: grayscale(60%);
  -moz-filter: grayscale(60%);
  -o-filter: grayscale(60%);
  -ms-filter: grayscale(60%);
}
.giftbox:hover .giftimage{
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
}
.description {
 margin: 10px;
 font-family: "Helvetic Neue", Helvetica, Arial;
 color: #858585;
}
.buynow{
  font-family: "Abel";
}
 .flat-ok-button {
  background: rgba(30, 255, 56, 0.1);
  color: #666666;
  font-family:"Abel"; 
  text-align: center;
  font-weight: normal;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  border-radius: 7px;
  font-size: 25px;
  border: none;
  width: 353px;
  height: 47px;
  margin: 8px 14px;
  -webkit-transition-duration: .2s;
  z-index: -200;
}
.flat-ok-button:hover{
  background: rgba(255, 136, 12, 0.458824);
}
.thumbbox{
  position:absolute;
  top: 0;
  height: 0px;
  background: rgba(0, 0, 0, 0.5);
  width:100%;
  visibility: hidden;
  z-index: 50;
  opacity: 0;
  -webkit-transition-duration: .5s;

}
.giftbox:hover .thumbbox{
  display: inline-block;
  visibility: visible;
  -webkit-transition-duration: .5s;
  opacity: 1;
  height: 50px;
}
.socialbox{
  position:bottom;
  top: 60px;
  height: 0px;
  background: rgba(0, 0, 0, 0.5);
  width:100%;
  visibility: hidden;
  z-index: 50;
  opacity: 0;
  -webkit-transition-duration: .5s;
}
.giftbox:hover .socialbox{
  display: inline-block;
  visibility: visible;
  -webkit-transition-duration: .5s;
  opacity: 1;
  height: 50px;
}

.imagebox{
  position:relative;
}

 
/*.products {
    -moz-column-count: 3;
    -moz-column-gap: 0px;
    -webkit-column-count: 3;
    -webkit-column-gap: 0px;
    column-count: 3;
    column-gap: 0px;
}
 
.products .giftboxwrapper{
    display: inline-block;
    margin-bottom: 0px;
    width: 100%;
}*/

/*.gbwrap{
  width:24%;
}

.gbwrap-inner{
  width:100%;
}

@media (max-width: 700px) {
  .gbwrap{
    width:33.33%;
  }
}*/
