  #page-wrapper {
    position: relative;
    width: 1500px;
    /* centers the document */
    margin: 0 auto;
    /*
  hides anything drawn off canvas.
  remove overflow and height to see things drawn off canvas.
  */
    overflow: hidden;
    height: 2000px;
  }
  /* This makes absolutely positioned elements like p, h1,
     and some bootstrap elements placed properly. */
  #absolute-wrapper p, #absolute-wrapper h1, #absolute-wrapper h2, #absolute-wrapper h3, #absolute-wrapper h4, #absolute-wrapper h5, #absolute-wrapper h6 {
    margin-top: 0 !important;
  }
  /* Set floating body text margins to 0 */
  [class*="dom-body-text"] p {
    margin: 0 0 10px 0;
  }
  .btn-toolbar .btn-group .btn.btn-2 {
    font-family:"helvetica";
    font-size: 19.69696807861328px;
    color: #cccccc;
    border-radius: 0px;
    border: none;
    background: #54565c;
    background-image: -moz-linear-gradient(270deg, #54565c 0%, #242424 100%);
    background-image: -webkit-linear-gradient(270deg, #54565c 0%, #242424 100%);
    background-image: -o-linear-gradient(270deg, #54565c 0%, #242424 100%);
    background-image: linear-gradient(180deg, #54565c 0%, #242424 100%);
    text-shadow: 2px 2px 5px #000000;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    height: 65px;
    width: 217px;
  }
  .btn-toolbar .btn-group .btn.btn-3 {
    background: #54565c;
    background-image: -moz-linear-gradient(270deg, #54565c 0%, #242424 100%);
    background-image: -webkit-linear-gradient(270deg, #54565c 0%, #242424 100%);
    background-image: -o-linear-gradient(270deg, #54565c 0%, #242424 100%);
    background-image: linear-gradient(180deg, #54565c 0%, #242424 100%);
    text-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    font-family:"helvetica";
    font-size: 20px;
    color: #cccccc;
    border: none;
    height: 65px;
    width: 215px;
  }
  .btn-toolbar .btn-group .btn.btn-4 {
    font-family:"helvetica";
    font-size: 19.69696807861328px;
    color: #cccccc;
    border-radius: 0px;
    border: none;
    background: #54565c;
    background-image: -moz-linear-gradient(270deg, #54565c 0%, #242424 100%);
    background-image: -webkit-linear-gradient(270deg, #54565c 0%, #242424 100%);
    background-image: -o-linear-gradient(270deg, #54565c 0%, #242424 100%);
    background-image: linear-gradient(180deg, #54565c 0%, #242424 100%);
    text-shadow: 1px 1px 4px #000000;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    height: 65px;
    width: 217px;
  }
  .btn.btn-1 {
    background: rgba(0, 0, 0, 0);
    text-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    font-family:"helvetica";
    font-size: 23.56902503967285px;
    font-weight: 300;
    border: none;
    width: 184px;
    height: 93px;
    position: absolute;
    top: 28px;
    left: 1091px;
  }
  .btn.btn-5 {
    text-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    font-family:"helvetica";
    font-size: 20.2020206451416px;
    color: #cccccc;
    border: none;
    background: #004c7d;
    background-image: -moz-linear-gradient(270deg, #004c7d 0%, #242424 100%);
    background-image: -webkit-linear-gradient(270deg, #004c7d 0%, #242424 100%);
    background-image: -o-linear-gradient(270deg, #004c7d 0%, #242424 100%);
    background-image: linear-gradient(180deg, #004c7d 0%, #242424 100%);
    width: 215px;
    height: 66px;
    position: absolute;
    top: 1px;
    left: 700px;
  }
  .dom-body-text p.p-1 {
    background-image: none;
    font-family: pirata one;
    line-height: 106.02430725097656px;
    font-size: 61.111114501953125px;
    background-color: rgba(0, 0, 0, 0);
    color: #000000;
    font-weight: bold;
    text-decoration: initial;
    text-align: center;
    text-shadow: none;
    padding: 0px;
    border: none;
  }
  .dom-body-text p.p-10 {
    background-image: none;
    font-family: oswald;
    line-height: 36.35416793823242px;
    font-size: 16.666667938232422px;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(134, 155, 255, 0.780392);
    font-weight: normal;
    text-decoration: initial;
    text-align: left;
    text-shadow: none;
    border: none;
  }
  .dom-body-text p.p-11 {
    background-image: none;
    font-family: helvetica;
    line-height: 75.74652862548828px;
    font-size: 33.333335876464844px;
    background-color: rgba(0, 0, 0, 0);
    color: #969696;
    font-weight: bold;
    text-decoration: initial;
    text-align: left;
    text-shadow: none;
    border: none;
  }
  .dom-body-text p.p-12 {
    background-image: none;
    font-family:'helvetica neue';
    line-height: 39.39236068725586px;
    font-size: 16.666667938232422px;
    background-color: rgba(0, 0, 0, 0);
    color: #e0e0e0;
    font-weight: normal;
    text-decoration: initial;
    text-align: left;
    text-shadow: none;
    padding: 0px;
    border: none;
  }
  .dom-body-text p.p-2 {
    background-image: none;
    font-family:'helvetica neue';
    line-height: 48.472225189208984px;
    font-size: 23.33333396911621px;
    background-color: rgba(0, 0, 0, 0);
    color: #999999;
    font-weight: normal;
    text-decoration: initial;
    text-align: center;
    text-shadow: none;
    padding: 0px;
    border: none;
  }
  .dom-body-text p.p-3 {
    background-image: none;
    font-family: pirata one;
    line-height: 106.02430725097656px;
    font-size: 38.88888931274414px;
    background-color: rgba(0, 0, 0, 0);
    color: #141414;
    font-weight: bold;
    text-decoration: initial;
    text-align: center;
    text-shadow: rgba(79, 79, 79, 0.498039) -1px 0px 5px;
    padding: 0px;
    border: none;
  }
  .dom-body-text p.p-4 {
    background-image: none;
    font-family: Arial;
    line-height: 67.3263931274414px;
    font-size: 26.666667938232422px;
    background-color: rgba(0, 0, 0, 0);
    color: #363636;
    font-weight: 200;
    text-align: left;
    text-shadow: none;
    text-decoration: initial;
    border: none;
  }
  .dom-body-text p.p-5 {
    font-family: helvetica;
    font-size: 17.77777862548828px;
    line-height: 38.88888931274414px;
  }
  .dom-body-text p.p-6 {
    background-image: none;
    font-family:'helvetica neue';
    line-height: 75.74652862548828px;
    font-size: 33.333335876464844px;
    background-color: rgba(0, 0, 0, 0);
    color: #969696;
    font-weight: 900;
    text-decoration: initial;
    text-align: left;
    text-shadow: none;
    border: none;
  }
  .dom-body-text p.p-7 {
    background-image: none;
    font-family: oswald;
    line-height: 36.35416793823242px;
    font-size: 16.666667938232422px;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(134, 155, 255, 0.772549);
    font-weight: normal;
    text-decoration: initial;
    text-align: left;
    text-shadow: none;
    border: none;
  }
  .dom-body-text p.p-8 {
    background-image: none;
    font-family: helvetica;
    line-height: 30.29513931274414px;
    font-size: 13.333333969116211px;
    background-color: rgba(0, 0, 0, 0);
    color: #858585;
    font-weight: normal;
    text-decoration: initial;
    text-align: left;
    text-shadow: none;
    border: none;
  }
  .dom-body-text p.p-9 {
    background-image: none;
    font-family: oswald;
    line-height: 54.53125px;
    font-size: 24.44444465637207px;
    background-color: rgba(0, 0, 0, 0);
    color: #969696;
    font-weight: normal;
    text-decoration: initial;
    text-align: left;
    text-shadow: none;
    border: none;
  }
  .dom-body-text.dom-body-text-1 {
    overflow: hidden;
    width: 553px;
    height: 100px;
    position: absolute;
    top: 11px;
    left: 41px;
  }
  .dom-body-text.dom-body-text-10 {
    overflow: hidden;
    width: 371px;
    height: 54px;
    position: absolute;
    top: 29px;
    left: 9px;
  }
  .dom-body-text.dom-body-text-11 {
    overflow: hidden;
    width: 371px;
    height: 53px;
    position: absolute;
    top: 8px;
    left: 10px;
  }
  .dom-body-text.dom-body-text-12 {
    overflow: hidden;
    width: 91px;
    height: 42px;
    position: absolute;
    top: 445px;
    left: 16px;
  }
  .dom-body-text.dom-body-text-13 {
    overflow: hidden;
    width: 371px;
    height: 55px;
    position: absolute;
    top: 29px;
    left: 9px;
  }
  .dom-body-text.dom-body-text-14 {
    overflow: hidden;
    width: 371px;
    height: 54px;
    position: absolute;
    top: 8px;
    left: 10px;
  }
  .dom-body-text.dom-body-text-15 {
    overflow: hidden;
    width: 374px;
    height: 300px;
    position: absolute;
    top: 1671px;
    left: 150px;
  }
  .dom-body-text.dom-body-text-16 {
    overflow: hidden;
    width: 361px;
    height: 76px;
    position: absolute;
    top: 1848px;
    left: 1105px;
  }
  .dom-body-text.dom-body-text-17 {
    overflow: hidden;
    width: 1245px;
    height: 145px;
    position: absolute;
    top: 2016px;
    left: 137px;
  }
  .dom-body-text.dom-body-text-2 {
    overflow: hidden;
    width: 542px;
    height: 51px;
    position: absolute;
    top: 90px;
    left: -8px;
  }
  .dom-body-text.dom-body-text-3 {
    overflow: hidden;
    width: 553px;
    height: 100px;
    position: absolute;
    top: 125px;
    left: 1063px;
  }
  .dom-body-text.dom-body-text-4 {
    overflow: hidden;
    width: 71px;
    height: 1px;
    position: absolute;
    top: 225px;
    left: 143px;
  }
  .dom-body-text.dom-body-text-5 {
    width: 520px;
    height: 319px;
    position: absolute;
    top: 196px;
    left: 138px;
  }
  .dom-body-text.dom-body-text-6 {
    overflow: hidden;
    width: 370px;
    height: 54px;
    position: absolute;
    top: 29px;
    left: 9px;
  }
  .dom-body-text.dom-body-text-7 {
    overflow: hidden;
    width: 371px;
    height: 52px;
    position: absolute;
    top: 8px;
    left: 10px;
  }
  .dom-body-text.dom-body-text-8 {
    overflow: hidden;
    width: 374px;
    height: 105px;
    position: absolute;
    top: 318px;
    left: 13px;
  }
  .dom-body-text.dom-body-text-9 {
    overflow: hidden;
    width: 93px;
    height: 42px;
    position: absolute;
    top: 445px;
    left: 16px;
  }
  .flat-ok-button.flat-ok-button-1 {
    background: rgba(255, 255, 255, 0.921569);
    color: #000000;
    font-family:"helvetica";
    font-weight: normal;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    border-radius: 29.98263931274414px 0px 29.98263931274414px 29.98263931274414px;
    font-size: 23.33333396911621px;
    border: 1px solid #557ceb;
    width: 183px;
    height: 94px;
    position: absolute;
    top: 28px;
    left: 1271px;
  }
  .flat-ok-button.flat-ok-button-2 {
    background: rgba(30, 255, 56, 0.470588);
    color: #666666;
    font-family:"Helvetica Neue";
    font-weight: normal;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    border-radius: 5.972222328186035px;
    font-size: 20px;
    border: none;
    width: 273px;
    height: 41px;
    position: absolute;
    top: 440px;
    left: 113px;
  }
  .page-header h1 small.small-1 {
    font-family:"helvetica neue";
    font-size: 24.44444465637207px;
  }
  .page-header h1.h1-1 {
    font-family:"pirata one";
    font-size: 38.72053909301758px;
  }
  .page-header h1.h1-2 {
    text-align: center;
  }
  .page-header h1.h1-3 {
    font-family:"pirata one";
    font-size: 37.878787994384766px;
  }
  .page-header.page-header-1 {
    width: 300px;
    height: 86.89583349227905px;
    position: absolute;
    top: 227px;
    left: 134px;
  }
  .page-header.page-header-2 {
    width: 387px;
    height: 213.89583349227905px;
    position: absolute;
    top: 574px;
    left: 568px;
  }
  .page-header.page-header-3 {
    width: 386px;
    height: 212.89583349227905px;
    position: absolute;
    top: 574px;
    left: 158px;
  }
  .page-header.page-header-4 {
    width: 387px;
    height: 212.89583349227905px;
    position: absolute;
    top: 574px;
    left: 980px;
  }
  .page-header.page-header-5 {
    width: 295px;
    height: 84.89583349227905px;
    position: absolute;
    top: 80px;
    left: 140px;
  }
  .page-header.page-header-6 {
    width: 296px;
    height: 84.89583349227905px;
    position: absolute;
    top: 249px;
    left: 723px;
  }
  .page-header.page-header-7 {
    width: 294px;
    height: 85.89583349227905px;
    position: absolute;
    top: 248px;
    left: 989px;
  }
  .page-header.page-header-8 {
    width: 296px;
    height: 85.89583349227905px;
    position: absolute;
    top: 248px;
    left: 1254px;
  }
  .page-header.page-header-9 {
    width: 300px;
    height: 84.89583349227905px;
    position: absolute;
    top: 107px;
    left: -3px;
  }
  #absolute-wrapper {
    position: relative;
    width: 1500px;
    /* centers the document */
    margin: 0 auto;
    /* hack to stick to top of page */
    height: 1px;
  }
  .rectangle {
    background: #54565c;
    background-image: -moz-linear-gradient(270deg, #54565c 0%, #242424 100%);
    background-image: -webkit-linear-gradient(270deg, #54565c 0%, #242424 100%);
    background-image: -o-linear-gradient(270deg, #54565c 0%, #242424 100%);
    background-image: linear-gradient(180deg, #54565c 0%, #242424 100%);
    border-radius: 0px;
    margin: 0px;
    width: 1808px;
    height: 67px;
    position: absolute;
    top: 147px;
    left: -170px;
  }
  .btn-toolbar {
    width: 1140px;
    margin: 0px;
    height: 65px;
    position: absolute;
    top: 0px;
    left: 268px;
  }
  .image {
    border-radius: 0px;
    margin: 0px;
    width: 237px;
    height: 239px;
    position: absolute;
    top: 339px;
    left: 624px;
  }
  .image-1 {
    border-radius: 0px;
    margin: 0px;
    width: 218px;
    height: 226px;
    position: absolute;
    top: 347px;
    left: 1049px;
  }
  .image-2 {
    border-radius: 0px;
    margin: 0px;
    width: 243px;
    height: 225px;
    position: absolute;
    top: 350px;
    left: 235px;
  }
  .rectangle-1 {
    background: rgba(255, 220, 181, 0.560784);
    border-radius: 0px;
    margin: 0px;
    width: 1595px;
    height: 1059px;
    position: absolute;
    top: 850px;
    left: -6px;
  }
  .page-header h1.h1-1 small {
    font-family:"helvetica neue";
    font-size: 24.44444465637207px;
  }
  .image-3 {
    border-radius: 0px;
    margin: 0px;
    width: 150px;
    height: 148px;
    position: absolute;
    top: 90px;
    left: 722px;
  }
  .image-4 {
    border-radius: 0px;
    margin: 0px;
    width: 150px;
    height: 148px;
    position: absolute;
    top: 92px;
    left: 983px;
  }
  .image-5 {
    border-radius: 0px;
    margin: 0px;
    width: 150px;
    height: 148px;
    position: absolute;
    top: 92px;
    left: 1243px;
  }
  .page-header h1.h1-1 small {
    font-family:"helvetica neue";
    font-size: 24.44444465637207px;
  }
  .page-header h1.h1-1 small {
    font-family:"helvetica neue";
    font-size: 23.33333396911621px;
    line-height: 25.55555534362793px;
  }
  .page-header h1.h1-1 small {
    font-family:"helvetica neue";
    font-size: 24.44444465637207px;
  }
  .rectangle-2 {
    background: rgba(134, 155, 255, 0.2);
    margin: 0px;
    border-radius: 7.978219509124756px;
    border: 3px solid rgba(134, 155, 255, 0.388235);
    width: 394px;
    height: 494px;
    position: absolute;
    top: 503px;
    left: 982px;
  }
  input.placeholder {
    background: #ffffff url(https://www.easel.ioimage-10.png) no-repeat 7.000000476837158px 50%;
    border-radius: 3.9756946563720703px;
    -moz-box-shadow: inset 0px 1px 4px 0px #000000;
    -webkit-box-shadow: inset 0px 1px 4px 0px #000000;
    -o-box-shadow: inset 0px 1px 4px 0px #000000;
    box-shadow: inset 0px 1px 4px 0px #000000;
    font-family:"helvetica";
    font-weight: normal;
    text-decoration: none;
    text-align: left;
    color: #bbbbbb;
    font-size: 12.222222328186035px;
    border: none;
    width: 286px;
    height: 20px;
    position: absolute;
    top: 1px;
    left: 71px;
  }
  .image-6 {
    border-radius: 0px;
    margin: 0px;
    width: 373px;
    height: 232px;
    position: absolute;
    top: 78px;
    left: 13px;
  }
  .rectangle-3 {
    background: rgba(134, 155, 255, 0.2);
    margin: 0px;
    border-radius: 7.978219509124756px;
    border: 3px solid rgba(134, 155, 255, 0.388235);
    width: 394px;
    height: 494px;
    position: absolute;
    top: 503px;
    left: 143px;
  }
  .image-7 {
    border-radius: 0px;
    margin: 0px;
    width: 335px;
    height: 232px;
    position: absolute;
    top: 79px;
    left: 29px;
  }
  .rectangle-4 {
    background: rgba(134, 155, 255, 0.2);
    margin: 0px;
    border-radius: 7.978219509124756px;
    border: 3px solid rgba(134, 155, 255, 0.388235);
    width: 394px;
    height: 494px;
    position: absolute;
    top: 503px;
    left: 563px;
  }
  .image-8 {
    border-radius: 0px;
    margin: 0px;
    width: 373px;
    height: 232px;
    position: absolute;
    top: 78px;
    left: 13px;
  }
  .dom-body-text.dom-body-text-8 p {
    background-image: none;
    font-family: helvetica;
    line-height: 30.29513931274414px;
    font-size: 13.333333969116211px;
    background-color: rgba(0, 0, 0, 0);
    color: #858585;
    font-weight: normal;
    text-decoration: initial;
    text-align: left;
    text-shadow: none;
    border: none;
  }
  .dom-body-text.dom-body-text-12 p {
    background-image: none;
    font-family: oswald;
    line-height: 54.53125px;
    font-size: 24.44444465637207px;
    background-color: rgba(0, 0, 0, 0);
    color: #969696;
    font-weight: normal;
    text-decoration: initial;
    text-align: left;
    text-shadow: none;
    border: none;
  }
  /*
Using this css requires Font Awesome:
http://fortawesome.github.com/Font-Awesome/
*/
  .icon {
    color: #969696;
    font-size: 23.33333396911621px;
    height: 23px;
    width: 37px;
    position: absolute;
    top: 1017px;
    left: 1274px;
  }

  #productsBottom{
    background:url('/images/loading.gif') no-repeat;
    width:30px;
    height:30px;
    display:block;
  }

  .circlmask{
    width:50px;
    height:50px;
    border-radius: 25px;
    overflow:hidden;
  }