.herobackground{
  background: #ffffff;

}
.limiter{
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.emaillimiter{
  max-width: 642px;
  margin: 0 auto;
  overflow: hidden;
}

.right{
  float: right;
}
.content {
  margin-top: 216px;
}

.fullwidth{
  margin:0 auto;
  width:1600px;
}

@media (max-width: 1599px) {
  .fullwidth{
    width:1200px;
  }
}

@media (max-width: 1199px) {
  .fullwidth{
    width:800px;
  }
}

@media (max-width: 799px) {
  .fullwidth{
    width:400px;
  }
}
