extends layout
block content
  .page-header.page-header-1
    h1.h1-1
      | How It Works
      small.small-1
        br
        | Read Here
  img.image(src='/images/image.png')
  img.image-1(src='/images/image-1.png')
  img.image-2(src='/images/image-2.png')
  .page-header.page-header-2
    h1.h1-2
      span Never Forget a Special Day
      small
        br
        | We scour the internet looking for great gift ideas for you to give girl
  .page-header.page-header-3
    h1.h1-2
      span Great Gift Ideas Made Easy
      small
        br
        | We scour the internet (and beyond) to find great gifts for you to give your girl.
        br
  .page-header.page-header-4
    h1.h1-2
      span Gifts She Will Love
      small
        br
        | We only post female-approved gifts. Things she'll love
  .rectangle-1
    .page-header.page-header-5
      h1.h1-1
        | About Us
        small
          br
          | Read Here
    img.image-3(src='/images/image-3.png')
    img.image-4(src='/images/image-4.png')
    img.image-5(src='/images/image-5.png')
    #dom-elem-79.dom-body-text.dom-body-text-5
      p.p-5
        | This site was founded for 2 reasons! To help fellow guys: Find awesome gifts Without
        | stressing. It sucks. But trying to finding gifts is frigging difficult. You want
        | to get her an awesome gift, but you don’t want to screw up and get her the wrong
        | thing. Or worse, you don’t want to forget that “Ultra, special, romantic occasion.”
        | We’re tired of guys being known for getting bad gifts. And were tired of stressing
        | out about trying to find gifts. We’re going to make it easy to find great gifts with
        | minimal work. LETS DO THIS!
        br
    .page-header.page-header-6
      h1.h1-1
        | Mauricio
        small
          br
          | Read Here
    .page-header.page-header-7
      h1.h1-1
        | Nick
        small
          br
          | Read Here
    .page-header.page-header-8
      h1.h1-1
        | Zack
        small
          br
          | Read Here
    .rectangle-2
      #dom-elem-46.dom-body-text.dom-body-text-6
        p.p-6 Write a Note
      #dom-elem-48.dom-body-text.dom-body-text-7
        p.p-7 Idea
      input.placeholder.input-822326(type='text', name='q', value='')
      img.image-6(src='/images/image-6.png')
      #dom-elem-47.dom-body-text.dom-body-text-8
        p.p-8
          | pint glass, lauter yeast top-fermenting yeast aroma hops kolsch secondary fermentation.
          | lager mead lager, lagering beer lauter tun mash tun shelf life. ipa real ale bunghole
          | abv trappist mash caramel malt, " craft beer hefe." dextrin brew tulip glass hydrometer
          | mash degrees plato beer.
      button.flat-ok-button.flat-ok-button-2 Go to Gift
      #dom-elem-50.dom-body-text.dom-body-text-9
        p.p-9 $60.00
    .rectangle-3
      #dom-elem-39.dom-body-text.dom-body-text-10
        p.p-6 Amazon Kindle Fire HD
      #dom-elem-41.dom-body-text.dom-body-text-11
        p.p-7 Electronics & Computers
      img.image-7(src='/images/image-7.jpeg')
      .page-header.page-header-9
        h1.h1-3
          | Find Gifts
          small.small-1
            br
            | Things To Make Her :-)
            br
      button.flat-ok-button.flat-ok-button-2 Buy Now
      #dom-elem-43.dom-body-text.dom-body-text-12
        p.p-9 $199.00
    .rectangle-4
      #dom-elem-33.dom-body-text.dom-body-text-13
        p.p-6 TOMS Classics 
      #dom-elem-35.dom-body-text.dom-body-text-14
        p.p-10 Clothing/Shoes/Jewelry
      img.image-8(src='/images/image-8.png')
      #dom-elem-34.dom-body-text.dom-body-text-8
        p
          | pint glass, lauter yeast top-fermenting yeast aroma hops kolsch secondary fermentation.
          | lager mead lager, lagering beer lauter tun mash tun shelf life. ipa real ale bunghole
          | abv trappist mash caramel malt, " craft beer hefe." dextrin brew tulip glass hydrometer
          | mash degrees plato beer.
      button.flat-ok-button.flat-ok-button-3 Buy Now
      #dom-elem-37.dom-body-text.dom-body-text-12
        p $60.00
    i.icon.icon-play
  #dom-elem-40.dom-body-text.dom-body-text-15
    p.p-8
      | hops mash bittering hops hoppy. lagering terminal gravity brew bittering hops. lager
      | additive carbonation wheat beer glass. scotch ale original gravity becher brewhouse
      | bock imperial length.
  #dom-elem-26.dom-body-text.dom-body-text-16
    p.p-11 More Gifts
  #dom-elem-31.dom-body-text.dom-body-text-17
    p.p-12
      | sparge dunkle double bock/dopplebock krug sour/acidic chocolate malt saccharification
      | enzymes beer hefe." attenuation hefe cask reinheitsgebot original gravity. ibu heat
      | exchanger barrel finishing hops priming dextrin mead hoppy. mash tun brewing hoppy
      | bittering hops. lambic, all-malt cask conditioned ale lambic hops, " imperial pint
      | glass aerobic terminal gravity." yeast trappist specific gravity attenuation noble
      | hops. conditioning all-malt secondary fermentation fermentation amber pint glass,
      | dunkle becher.
      br
    p.p-12
    div
      span
        br
    p.p-12