<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Spinnaker|Roboto Condensed:100,200,300|Droid Sans|Oswald|Marko One|Lato:300|Ubuntu|Abel|Grand Hotel:400,300,700"
  media="screen" rel="stylesheet" type="text/css" />

  <link href="/stylesheets/bootstrap.css" media="screen" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/bootstrap-responsive.css" media="screen" rel="stylesheet"type="text/css" />
  <link href="/fontawesome/font-awesome.css" media="screen" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/style.css" media="screen" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/layout.css" media="screen" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/products.css" media="screen" rel="stylesheet" type="text/css"/>"

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.masonry.min.js"></script>
  <script type="text/javascript" src="/javascripts/handlebars.js"></script>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  
  <% include maps %>
  <% include tooltip %>
  <title>BrowniePointer - A Guy's Gift Guide</title>
</head>
<body>
  <% include facebook %>
  <div id="banner">
    <script>
    var windw = this;

    $.fn.followTo = function ( pos ) {
      var $this = this,
      $window = $(windw);

      $window.scroll(function(e){
        if ($window.scrollTop() > pos) {
          $this.css({
            position: 'absolute',
            top: pos
          });
        } else {
          $this.css({
            position: 'fixed',
            top:  0
          });
        }
      });
    };

    $('#banner').followTo(75);
    </script>
    
    <script>
    $(document).ready(function(){
      $('.scrollTo').click(function(e){
      e.preventDefault()
         var anchor = $(this).attr('anchor')
         var top = $('#'+anchor).position().top - 80
         $('html, body').animate({scrollTop:top}, 'slow');
     });
     $sections = $('.section')
     var currentSection = -1
     var currentPos = 0
     var limits = []

     limits[-1] = {top:0, bot:$($sections[0]).position().top - 90}

     $sections.each(function(i, e){
      var lowerLimit = $('body').height()
      if(typeof $sections[i+1] != 'undefined') lowerLimit = $($sections[i+1]).position().top - $($sections[i+1]).height()
        var upperLimit = $($sections[i]).position().top
      limits[i] = {
        top: upperLimit +180,
        bot: lowerLimit
      }
        //hack to fix first section
        if(i==0) limits[0].top = upperLimit -120;
      });

     limits[limits.length-1].bot = 999999999999;

     $(document).scroll(function(){
      currentPos = $(this).scrollTop()
      if(currentPos > limits[currentSection].bot){
        anchor = $($sections[currentSection+1]).attr('id')
        $('.scrollTo').parent().removeClass('active') 
        $('.scrollTo[anchor="'+anchor+'"]').parent().addClass('active')
        if(typeof limits[currentSection+1] != 'undefined'){
          currentSection = currentSection+1
        }
      } 
      if(currentPos < limits[currentSection].top){
        anchor = $($sections[currentSection-1]).attr('id')
        $('.scrollTo').parent().removeClass('active')
        $('.scrollTo[anchor="'+anchor+'"]').parent().addClass('active')
        if(typeof limits[currentSection-1] != 'undefined'){
          currentSection = currentSection-1
        }
      }

     });
   });
</script>
<div class="dom-body-text dom-body-text-1" id="dom-elem-29">
  <p class="p-1">This is body text</p>
</div>
</div>
<div class="dom-body-text dom-paragraph dom-body-text-2" id="bannerText">
  <p class="p-2">A guy's gift guide.</p>
</div>
<div class="content">
  <div class ="herobackground">
    <div class="limiter">
      <span id="howWorks" class="section"></span>
      <div class="sectionheader">
        <h1 class="h1white">How It Works
        </h1>
      </div>
      <div class="hero-wrapper">
        <img class="heroimg" src="/images/heart.png" />      
        <div class="hero-header">
          <h1 class="h1-2">
            <span>We Find Awesome Gifts</span>
            <small><br>We scour the web for the best girl-approved gifts...</small>
          </h1>
        </div>
      </div>
      <div class="hero-wrapper">
        <img class="heroimg" src="/images/giftfinder.png" /> <div class="hero-header">
        <h1 class="h1-2">
          <span>Find The Gifts She’ll Love</span>
          <small><br>From our short list you pick the best gift for her</small>
        </h1>
      </div>
    </div>
    <div class="hero-wrapper">
      <img class="heroimg" src="/images/never.png" />
      <div class="hero-header">
        <h1 class="h1-2">
          <span>Never Forget A Special Day</span>
          <small><br>Dominate the calendar with alerts &amp; reminders.<br></small>
        </h1>
        <a href="#formsection" class="scrollTo a-1" anchor="formsection">
        <button class ="whitebutton"> Click Here
        </button>
      </a>
      </div>
    </div>  
  </div>
</div>
<% if(!user){ %>
<span id="formsection" class="section"></span>
  <div class="emailwrapper">
    <div id="emailform">
      <div class="emaillimiter">
        <form id ="email" action="/subscribe" method="POST">
          <div>
            <input type="text" class="emailfield" placeholder="Stay in the loop." name="email">
            <button class="emailbutton"><h3 class="submit">Submit Email</h3></button>
            <span class="OR">or</span>
            <button class="facebook-login-btb">
              <a class = "facebooktext" href="#">login with <span>facebook</span></a>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
<% } %>
<div id="aboutus">
  <div class = "limiter">
    <div class="aboutustext">  
      <div class="sectionheader">
        <span id="aboutUs" class="section"></span>
          <h1 class="h1-3">Who We Are</h1>
        </div>
      </div>
      <div class = "picturewrapper">
        <div class = "portraitwrapper">
          <div class="circlemask">
            <img class="portrait" src="/images/image-3.png" />
          </div>
          <div class="page-header page-header-6">
            <h1 class="h1-2">
              <span>Zack</span> <small class="small-3"><br>Single and ready to mingle, Zack epitomizes the bachelor life. Needing to stay up to speed on the different dates to remember... or not forget.</small>
            </h1>
          </div>
        </div>
        <div class = "portraitwrapper">
          <div class="circlemask">
            <img class="portrait" src="/images/mr8bit.png" />
          </div>
          <div class="page-header page-header-6">
            <h1 class="h1-2">
              <span>Mauricio</span> <small class="small-3"><br>CRRRRRRAAAAAAAA</small>
            </h1>
          </div>
        </div>
        <div class = "portraitwrapper">
          <div class="circlemask">
            <img class="portrait" src="/images/nickcomp.png"/>
          </div>
          <div class="page-header page-header-7">
            <h1 class="h1-2">
              <span>Nick</span> <small class="small-3"><br>Married with the first baby on the way, Nick has definitely been around the block a few times when it comes to gift-giving. Although maybe not up on the latest trends.</small> 
            </h1>
          </div>
        </div>
      </div>
      <span id="contactus" class="section"></span>
      <div class="sectionheader">
        <h1 class="h1-3">Contact Us</h1>
        <div class = "contactlimiter">
          <a href = "https://twitter.com/browniepointer">              
            <i class="icon icon-twitter icon-1"></i>
          </a>
          <a href = "http://www.facebook.com/pages/BrowniePointer/250155448421224">
            <i class="icon icon-facebook-sign icon-1"></i>
          </a>
          <a href ="https://github.com/organizations/BrowniePointer">
            <i class="icon icon-github icon-1"></i>
          </a>
          <a href="tel:5307844387" title="Call BPR: 800-333-3343" class="icon-1 tooltip">
            <i class="icon icon-phone icon-1"></i>
          </a>
          <a href="mailto:info@browniepointer.com?subject=Browniepointer">
            <i class="icon icon-envelope icon-1"></i>
          </a>
        </div>
      </div> 
    </div>
  </div>
</div>
<div id="map_canvas" style="background-color: rgb(369, 227, 223); overflow: hidden; -webkit-transform: translateZ(0);"></div>
<div class="overmap">
<p id="madeinsm">Proudly made in Santa Monica, California
</p>
</div>

  <% include products %>
  <% include nav %>

</div>
<script>
  console.log('hi')
  data = window.data || {}
  data.user = <%- JSON.stringify(user) %>
  console.log(data)
</script>
</body>

</html>