!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Limelight|Flamenco|Federo|Yesteryear|Josefin Sans|Spinnaker|Sansita One|Handlee|Droid Sans|Oswald|Pirata One:400,300,700', media='screen', rel='stylesheet', type='text/css')
    link(href='stylesheets/bootstrap.css', media='screen', rel='stylesheet', type='text/css')
    link(href='stylesheets/bootstrap-responsive.css', media='screen', rel='stylesheet', type='text/css')
    link(href='stylesheets/fontawesome.css', media='screen', rel='stylesheet', type='text/css')
    link(href='stylesheets/style.css', media='screen', rel='stylesheet', type='text/css')
    //
       Typekit fonts require an account and a kit containing the fonts used. see https://typekit.com/plans
          for details. <script type="text/javascript" srsc="//use.typekit.net/YOUR_KIT_ID.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    title Ass Hat
  body
    #page-wrapper
      #absolute-wrapper
        #dom-elem-53.dom-body-text.dom-body-text-1
          p.p-1 BrowniePointer
        button.flat-ok-button.flat-ok-button-1 Join
        button.btn.btn-1
          | Sign In
          br
        #dom-elem-54.dom-body-text.dom-body-text-2
          p.p-2 A guy's gift guide.
        .rectangle
          .btn-toolbar
            .btn-group
              button.btn.btn-inverse.btn-2 How It Works
              button.btn.btn-3 About Us
              button.btn.btn-inverse.btn-4 How It Works
          button.btn.btn-5 Find Gifts
        #dom-elem-65.dom-body-text.dom-body-text-3
          p.p-3 BrowniePointer
        #dom-elem-24.dom-body-text.dom-body-text-4
          p.p-4 This is body text
        block content
