<script id="productTemplate" type="text/x-handlebars-template">
  <div class="gbwrap item">
    <div class="gbwrap-inner">
      <div class="giftbox">
        <div class="titlecontainer">
          <a href="{{ links.affiliate }}">
            <h2 class="gifttitle">{{ name }}</h2>
          </a>
        </div>
        <div class="imagebox">
          <div class="thumbbox">
            <i class="icon icon-thumbs-up icon-2"></i>
            <p class="ratingnumber">27</p>
            <i class="icon icon-thumbs-down icon-2"></i>
            <p class="ratingnumber">2</p>      
            <i class="icon icon-facebook icon-2"></i>
            <i class="icon icon-envelope icon-2"></i>
          </div>
          <a href="{{ links.affiliate }}">
            <img class="giftimage" src="{{imgPath media}}" />
          </a>
        </div>
        <div class="description">{{ desc }}</div>
        <div class="ratingsbox">
          <div class="price">${{ price.base }}</div>
        </div>
        <a href = "{{ links.affiliate }}" target="_blank">
          <button class="flat-ok-button">
            <h3 class="buynow">Buy Now<h3>
          </button>
        </a>
      </div>
    </div>
  </div>
</script>
<script>
  Handlebars.registerHelper('imgPath', function(media) {
    if(typeof media[0] != 'undefined') return 'http://'+media[0].path;
    else return '';
  });
  data = window.data || {};
  data.products = '<%- JSON.stringify(products) %>';
</script>

<div class = "findgifts">
  <div class="fullwidth">
    <div class="sectionheader">
      <span id="findGifts" class= "section">
        <h1 class="h1white">Find Gifts
      </h1>
    </div>
    <div id="productsList" class="products">
    </div>
    <span id="productsBottom"></span>

  </div>
</div>

<!-- Infine Loading and Layout Handler -->
<script>
  var working = 0;
  var productCursor = 0;

  
  $(document).ready(function(){
    var $container = $('#productsList');

    var source   = $("#productTemplate").html();
    var template = Handlebars.compile(source);
    var products = $.parseJSON(data.products)
    products.forEach(function(product, i){
      productCursor++;
      $container.append(template(product));
    })

    function infiniteHandler($container){
      return function(data){
        console.log(data.length);
        if(data.length == 0){
          $('#productsBottom').remove();
          clearInterval(infinite);
        }
        data.forEach(function(product, i){
          productCursor++;
          var box = $(template(product));
          $container.append( box ).masonry( 'appended', box );  
        });
        $container.imagesLoaded(function(){
          $container.masonry('reload');
        });
        working = working-1;
      }
    }

    $container.masonry({
      itemSelector : '.gbwrap',
      columnWidth : 400
    });

    $container.imagesLoaded(function(){
      $container.masonry('reload');
    });

    var infinite = setInterval(function(){
      if(working == 0){
        var productPos = $('#productsBottom').position().top;
        var top = $(document).scrollTop();
        if(productPos < top+$(window).height()){
          working = 2;
          setTimeout(function(){
            console.log(working)
            working = working-1;
          }, 2000);

          $.ajax({
            url: '/api/1/products',
            data: {limit:4, skip:productCursor},
            success: infiniteHandler($container),
            dataType: 'json'
          });
        }
      }
    }, 300);
  });
</script>
